html { 
    scroll-behavior: smooth; 
    max-width: 100%; 
} 

body{
    background-color: black;
    margin: 0 auto;
    max-width: 100%; 
}
h1 {
    position: relative;
    z-index: 1;
    margin-top: 3em;
    margin-left: 3em;
    font-family: custom01;
    font-size: 3em;
    color: black;
    font-size: 300%;
}

  
h2 {
    margin: 3vw;
    padding-left: 6vw;
    font-family: custom01;
    font-size: 2em;
    color: black;
}
h3 {
    
    font-family: custom01;
    font-size: 0.8em;
    color: white;
}
.restDiv{
    position:relative;
    z-index:1;
    width:100%;
    min-width: 100%;
    max-width: 100%;
    margin: 0 auto;
}
.projectsDiv{
    width:100%;
    height:max-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-self: center;
}
.projectsListDiv #projects{
    position:relative;
    z-index:1;
    height: max-content * 2;
    width:100%;
    min-width: 70%;
    max-width: 100%;
    margin: 0 auto;
}
.header{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: left;
    height: 16em;
    background-color: white;
}
.header_small{
    padding-top: 10em;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: left;
    height: 8em;
    background-color: white;
}
.bottom{
    display: flex;
    margin-bottom: 4em;
    background-color: black;
    border-style: solid;
    border-bottom-color: white;
    text-align: center;
    justify-content: center;

}
.bottom t{
    display: flex;
    padding-bottom: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: white;
    text-align: center;
}
.bottom t a{
    padding-left: 1em;
    color: white;
    text-decoration: none;
    text-decoration-line: underline;
}
.bottom t a:hover, a:active{
    color: grey;
    text-decoration: none;
    text-decoration-line: underline;
}
.bottom t #headline{
    color: aqua;
}

.audioContainer {
    display: flex;
    width: fit-content;
    flex-wrap: wrap;
    align-items: flex-end;
    float: right;
  }

.break{
    float: right;
    flex-basis: 100%;
    height: 0%;
}
.audioContent{
    
    padding-left: 20em;
    padding-top: 2em;
}
.audioContent figcaption{
    display: flex;
    float: left;
    
    padding-top: -2em;
    text-decoration: solid;
    font-family: custom01;
    font-size: 0.8em;
    font-style: bold;
}
.nav {
    margin: 0 auto;
    position: fixed;
    overflow:hidden;
    z-index: 2;
    width: 100%;
    padding: 2em 0em 2em 0em;
    height: 4em;
    text-align: center;
    background-color: black;
    display: flex;
    justify-content: center;
    border-style: solid;
    border-bottom-color: white;
  }
.nav a{
    padding: 1em;
    display: flex;
    color: white;
    font-family: custom02;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
  }
.nav a:hover, a:active{
    display: flex;
    color: grey;
  }
.nav #current_site{
    display: flex;
    color: grey;
    font-size: 150%;

}

#info{
    background-color: black;
    margin-top: 4vw;
    padding: 1em;
    text-align: center;
    margin-left: 25%;
    height: 100em;
    width: 50%;
    border-style: solid;
    border-left-color: white;
    border-right-color: white;
}

#info t{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-decoration: none;
    line-height:1.5em;
    
}
#info h2{
     margin: 1vw;
    padding-left: 6vw;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: white;
    text-align: left;
}
#project_content{
    
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-top: 6vw;
}#project_content video{
    padding: 5em; 
    clear: both;
    
}
.text{
    color: white;
    text-decoration: solid;
    font-family: custom01;
    font-style: bold;
    padding: 4em; 
    display: flex;
    float: left;
}
.text_alt{
    color: white;
    text-decoration: solid;
    font-family: custom01;
    font-style: bold;
    padding: 4em; 
    display: flex;
    float: right;
}
.text_alt figcaption{
    text-align: right;
    text-decoration: solid;
    font-family: custom01;
    font-size: 0.8em;
    font-style: bold;
}
.text_alt img{
    border-style: solid;
    border-color: white;
    display: flex;
    float:left;
    width: 40vw;

}
.text_alt t{
    line-height:1.5em;
}
#project_content img{
    border-style: solid;
    border-color: white;
    display: flex;
    float:right;
    width: 30vw;

}
#project_content audio{

    width: 30vw;

}
#project_content figcaption{
    text-align: right;
    text-decoration: solid;
    font-family: custom01;
    font-size: 0.8em;
    font-style: bold;
}

#project_content t{
    line-height:1.5em;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}







.project_list{
    position:relative;
    z-index:1;
    height:100%;
    min-width: 70%;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    
    margin: 6vw; 
    background-color: black;
    border-style: solid;
    border-left-color: white;
    border-right-color: white;
}
.project_list ul{
    justify-content: center;
    padding: 4em 0em 2em 0;
    
}
.project_list li{
    padding-top: 2em;
    
}
.project_list li {
    justify-content: center;
    text-emphasis: none;
    
}
.project_list a{
    padding-left: 1em;
    color: white;
    font-family: custom01;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
    
}
.project_list a:hover, a:active{
    color: grey;
  }
.datetag{
    color: white;
    font-family: custom01;
    font-size: 0.5em;
    text-decoration: none;
    text-align: center;
    
}
.impressum{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 6vw; 
    background-color: black;
    border-style: solid;
    border-left-color: white;
    border-right-color: white;
    padding-top: 1em;
}
.impressum_text p{
    text-align: center;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1em;
    padding-top: 3em;
}
.impressum_text{
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    text-align: center;
    justify-content: center;
    padding-top: 1em;
    
    flex-direction: row-reverse; 
}
.impressum_icons{
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row-reverse; 
    justify-content: center;
}
.hey{
    position: relative;
}

.hey::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 1.5em;
    border-right: 2px solid black;
    animation: blink 0.5s infinite ease;
}
.fa {
    text-align: center;
    text-decoration: none;
  }
.fa-instagram{
    background: black;
    color: white;
}
@keyframes blink{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@font-face {
    font-family: custom01;
    src: url(res/GameCube.ttf);
  }
  @font-face {
    font-family: custom02;
    src: url(res/GameCube.ttf);
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');